body{
    background-image: url("images/pig.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
form{
    background-color: hotpink;
    padding: 250px;
    margin-left: 350px;
    margin-right: 350px;
}