input[type=text]{
    width: 250px;
    height: 30px;

}
form{
    padding: 10px;
    background-color: maroon;
    margin: 100px;
    margin-right: 700px;
}
body{
    background-size: 10px;

}
input[type=SUBMIT]{
    background-color: orange;
}
