li a{
    display: block;
color:  white;
    padding: 20px;
    text-decoration: none;
    text-align: center;
}
li a:hover{
  color: rebeccapurple;
}
li a{
    float: left;
    margin-left: 50px;
}
h1{
    text-align: center;
    color: darkgreen;

}
p{
    color: white;
}
abbr{
    text-decoration: none;
}
h2{
    text-align: center;
}
body{
    background-color: rgba(2 7 4 );

}
h2{
    text-decoration: underline;
}
div.hello{
    background-image: url("images/BUS.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
ul.n{
   display: block;
color:  white;
    padding: 20px;
    text-decoration: none;
    text-align: center;
}