h1{
    font-size: 25px;
    text-decoration: underline;
    text-align:center;
}
body{
    background-color: aqua;

}
form{
    background-color: white;
    padding: 100px;
    margin-right: 350px;
    margin-left: 400px;
}